@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

.mainPanel {
  @include rowing(space-between);
  padding: $spacing-16 $spacing-24;
}

.masterProfileSection {
  @include rowing();
  gap: $spacing-20;
  padding-top: $spacing-96;
}

.wrappMainPanel {
  flex-grow: 1;
  margin: $spacing-14 $spacing-0;
  background-color: $color-pink;
}

.wrappAboutCard {
  margin: $spacing-0 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-pink;
}