@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

.mainPanel {
  @include rowing(space-between);
  padding: $spacing-16 $spacing-24 $spacing-10;
}

.masterProfileSection {
  @include rowing();
  gap: $spacing-20;
  padding-top: $spacing-10;
}

.wrappMainPanel {
  flex-grow: 1;
  margin-top: $spacing-70;
  background-color: $color-pink;
}

.wrappAboutCard {
  @include rowing(null, null, $spacing-24, column);
  margin: $spacing-0 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-pink;
}
