@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.selectWrapper {
  @include sizes(119px);
  position: relative;
  display: inline-flex;
  align-items: center;
}

.customSelect {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-purple3, $spacing-22);
  width: 100%;
  padding: $spacing-12 $spacing-28 $spacing-12 $spacing-10;
  background-color: $color-white;
  border-radius: $spacing-12;
  cursor: pointer;
  border: $spacing-1 solid transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right $spacing-8 center;
}
