.scrollBtn {
    position: fixed;
    top: 10%;
    right: 10%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 9999px;
    background-color: #1976d2;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
