@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.picture {
    @include sizes(100%);
    max-height: 384px;
    border-radius: $spacing-24 $spacing-24 $spacing-0 $spacing-0;
}
