@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.centred {
  display: flex;
}

.leftSide {
  @include sizes(null, 100vh);
  position: relative;
  overflow: hidden;
}

.leftSIdeText {
  @include sizes(570px, 570px);
  position: absolute;
  top: 60%;
  right: 0;
  border-radius: 50%;
  padding: 27.5% 8% 0 21.5%;;
  background-color: $color-purple3;
}

.leftSideTitle {
  @include fonts($manroupe-font, $font-weight-600, $spacing-20, $color-white, $spacing-33);
  padding-bottom: 24px;
}

.leftSideDesc {
  @include fonts($manroupe-font, $font-weight-400, $spacing-20, $color-white, $spacing-26);
}

.loginFormContainer {
  @include rowing(space-between, stretch, column);
  min-height: $spacing-70;
  width: 500px;
  margin: auto;
  padding: $spacing-24 $spacing-48;
  gap: $spacing-24;
  border-radius: 20px;
  background-color: $color-pink;
  font-family: Manrope, serif;
}

.loginHeader {
  @include rowing(space-between, stretch, column);
  gap: 12px;
  max-width: 100%;
}

.loginTitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: $color-purple3;
}

.loginLinks {
  @include rowing(space-between, center);
  gap: 24px;
  padding: 2.5px 22.5px;
  font-size: 14px;
}

.form {
  @include rowing(space-between, stretch, column);
  gap: 8px;
}

.formGroup {
  @include rowing(space-between, stretch, column);
  padding: $spacing-0 $spacing-27;
  gap: 8px;
}

.inputHint {
  color: rgba(125, 121, 121, 1);
  font-size: 14px;
}

.formBtnGroup {
  padding-top: 16px;
}

.forgotPasswordLink {
  text-align: end;
  color: $color-purple4;
}

.formLabel {
  font-size: 20px;
  color: rgba(29, 27, 32, 1);
}

.agreeToPersonalData .formLabel {
  // display: inline-block;
  font-size: 12px;
}
.formInput {
  width: 350px;
  padding: 12px;
  border: 1.5px solid rgba(234, 234, 234, 1);
  font-size: 16px;
  color: rgba(125, 121, 121, 1);
  border-radius: 12px;
  cursor: pointer;
}

.passwordInputContainer {
  position: relative;
}

.passwordToggleButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eyeIcon {
  width: 24px;
  height: 24px;
}

.agreeToPersonalData {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
