@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.centred {
  display: flex;
}

.leftSide {
  @include sizes(36.7%, 100vh);
  position: relative;
  overflow: hidden;
}

.leftSIdeText {
  @include sizes(570px, 570px);
  position: absolute;
  top: 60%;
  right: 0;
  border-radius: 50%;
  padding: 27.5% 8% 0 21.5%;
  background-color: $color-purple3;
}

.leftSideTitle {
  @include fonts($manroupe-font, $font-weight-600, $spacing-20, $color-white, $spacing-33);
  padding-bottom: 24px;
}

.leftSideDesc {
  @include fonts($manroupe-font, $font-weight-400, $spacing-20, $color-white, $spacing-26);
}

.loginFormContainer {
  @include sizes(630px);
  margin: auto;
  padding: $spacing-24 $spacing-48;
  border-radius: 20px;
  background-color: $color-pink;
}

.loginTitle {
  @include fonts($manroupe-font, $font-weight-500, $spacing-30, $color-purple3, $spacing-44);
  text-align: center;
  padding-bottom: $spacing-12;
}

.loginLinks {
  @include rowing(center);
}

.noAccount {
  @include fonts($manroupe-font, $font-weight-300, $spacing-14, $color-black, $spacing-14);
  @include sizes(209px, $spacing-17);
}

.form {
  margin: $spacing-16 $spacing-0 $spacing-24;
}

.formGroup {
  @include rowing(null, null, column);
  gap: $spacing-8;
  padding-top: $spacing-8;
}

.formInput {
  @include fonts($manroupe-font, $font-weight-400, $spacing-16, $color-gray2, $spacing-24);
  padding: $spacing-12;
  border: 1.5px solid $color-gray6;
  border-radius: $spacing-12;
  background-color: $color-white;
  cursor: pointer;
}

.inputHint {
  @include fonts($manroupe-font, $font-weight-400, $spacing-14, $color-gray2, $spacing-20);
}

.formLabel {
  @include fonts($manroupe-font, $font-weight-500, $spacing-20, $color-black3, $spacing-24);
}

.passwordInputContainer {
  position: relative;
}

.passwordInput {
  @include sizes(100%);
}

.passwordToggleButton {
  position: absolute;
  right: $spacing-12;
  padding: $spacing-0;
  top: 28%;
  background: none;
  border: none;
  cursor: pointer;
}

.formAgreeGroup {
  padding-top: $spacing-24;
}

.formGroup,
.formAgreeGroup {
  margin: $spacing-0 $spacing-45;
}

.checkboxLabel {
  @include rowing(space-between, center);
  padding: $spacing-0 $spacing-12;
}

.checkboxText {
  @include fonts($manroupe-font, $font-weight-400, $spacing-12, $color-gray8, $spacing-16);
}

.checkboxInput {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid $color-purple3;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;

  &:checked {
    background-color: $color-purple3;
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.formBtnGroup {
  padding-top: $spacing-24;
}
