@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.centred {
  display: flex;
}

.leftSide {
  @include sizes(36.7%, 100vh);
  position: relative;
  overflow: hidden;
}

.rightSide {
  @include rowing(center, center);
  flex-grow: 1;
  background-color: $color-gray10;
}

.leftSIdeText {
  @include sizes(570px, 570px);
  position: absolute;
  top: 60%;
  right: 0;
  border-radius: 50%;
  padding: 27.5% 8% 0 21.5%;
  background-color: $color-purple3;
}

.leftSideTitle {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-white, $spacing-33);
  padding-bottom: 24px;
}

.leftSideDesc {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-white, $spacing-26);
}

.loginFormContainer {
  @include sizes(630px);
  padding: $spacing-24 $spacing-48;
  border-radius: 20px;
  background-color: $color-pink;
}

.loginTitle {
  @include fonts($manroupe-font, $font-weight-500, $font-size-30, $color-purple3, $spacing-44);
  text-align: center;
  padding-bottom: $spacing-6;
}

.wrappRoleSelect {
  text-align: center;
  padding-bottom: $spacing-18;
}

.loginLinks {
  @include rowing(center);
}

.noAccount {
  @include fonts($manroupe-font, $font-weight-300, $font-size-14, $color-black, $spacing-14);
  @include sizes(209px, $spacing-17);
}

.form {
  margin: $spacing-16 $spacing-0 $spacing-24;
}

.formGroup {
  @include rowing(null, null, column);
  gap: $spacing-8;
  padding-top: $spacing-8;
}

.formInput {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray2, $spacing-24);
  padding: $spacing-12;
  border: 1.5px solid $color-gray6;
  border-radius: $spacing-12;
  background-color: $color-white;
  cursor: pointer;
}

.inputHint {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-gray2, $spacing-20);
}

.errorMessage {
  @include fonts($roboto-flex-font, null, null, $color-red);
}

.validHint {
  @include fonts($manroupe-font, null, null, $color-green2);
}

.formLabel {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-black3, $spacing-24);
}

.passwordInputContainer {
  position: relative;
}

.passwordInput {
  @include sizes(100%);
}

.passwordToggleButton {
  position: absolute;
  right: $spacing-12;
  padding: $spacing-0;
  top: 28%;
  background: none;
  border: none;
  cursor: pointer;
}

.formAgreeGroup {
  padding-top: $spacing-24;
}

.formGroup,
.formAgreeGroup {
  margin: $spacing-0 $spacing-45;
}

.checkboxLabel {
  @include rowing(space-between, center);
  padding: $spacing-0 $spacing-12 $spacing-12;
}

.checkboxText {
  @include fonts($manroupe-font, $font-weight-400, $font-size-12, $color-gray8, $spacing-16);
}

.checkboxInput {
  @include sizes($spacing-18, $spacing-18);
  appearance: none;
  -webkit-appearance: none;
  border: $spacing-1 solid $color-purple3;
  border-radius: $spacing-4;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;

  &:checked {
    background-color: $color-purple3;
  }

  &:checked::after {
    @include sizes($spacing-4, $spacing-8);
    content: '';
    position: absolute;
    left: $spacing-5;
    top: $spacing-1;
    border: solid white;
    border-width: $spacing-0 $spacing-2 $spacing-2 $spacing-0;
    transform: rotate(45deg);
  }
}

.checkboxError {
  border: $spacing-1 solid $color-red;
}

.errorAgree {
  @include fonts($manroupe-font, $font-weight-400, $font-size-12, $color-red, $spacing-20);
  padding: $spacing-0 $spacing-12;
}

.errorServer {
  @include fonts($roboto-flex-font, null, null, $color-red);
  padding: $spacing-0 $spacing-0 $spacing-12 $spacing-56;
}

.formBtnGroup {
  padding-top: $spacing-24;
}
