@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.searchPanel {
    @include sizes(100%);
    position: absolute;
    bottom: $spacing-90;
    z-index: 1;
    padding: $spacing-30 $spacing-50;
    border-radius: $spacing-20;
    background-color: $color-pink;
}

.searchTitle {
    @include fonts($manroupe-font, $font-weight-500, $font-size-30, $color-purple3);
    padding-bottom: $spacing-20;
}
