@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.servicesList {
    padding-bottom: $spacing-16;
}

.servicesCard {
    margin-bottom: $spacing-24;
    padding: $spacing-16 $spacing-24 $spacing-0;
    border-radius: $spacing-12;
    background-color: $color-white;
}

.header {
    @include rowing(null, center);
    padding-bottom: $spacing-20;
}

.title,
.serviceTitle {
    @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}

.servicesItem {
    @include rowing(null, center);
    padding-bottom: $spacing-8;
    border-bottom: $spacing-1 solid $color-gray4;
}

.itemContent {
    @include rowing(null, center);
    min-width: 70%;
}

.serviceTitle {
    padding: $spacing-4 $spacing-0 $spacing-16;
}

.serviceTitle,
.serviceDesc {
    @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-24);
}

.serviceInfo {
    padding-left: 2%;
}

.label {
    @include fonts($manroupe-font, $font-weight-400, $font-size-17, $color-gray5);
}

.servicePriceBlock {
    margin-left: auto;
}

.servicePrice {
    @include fonts(Manrope-Semibold, $font-weight-600, $font-size-17, $color-gray4);
}
