@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.linkButton {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, null, $spacing-20);
  padding: $spacing-12 $spacing-30;
  border-radius: $spacing-12;
}

.linkButton-login {
  @include rowing(center, center);
  gap: $spacing-8;
  border: 1px solid $color-purple3;
  color: $color-purple3;
  background-color: $color-white;
}

.linkButton-reg {
  @include rowing(center, center);
  gap: $spacing-8;
  border: 1px solid $color-purple3;
  color: $color-white;
  background-color: $color-purple3;
}
