@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.aboutCard {
  padding: $spacing-16 $spacing-24;
  background-color: $color-white;
  border-radius: $spacing-12;
}

.header {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}

.text {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-24);
}
