@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.diplomasWrapper {
    padding-bottom: $spacing-24;
}

.grid {
    @include rowing(space-between);
    padding: $spacing-0 $spacing-32;
}

.title {
    @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
    padding-bottom: $spacing-12;
}
