@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.nav {
  @include rowing(center, center);
  gap: $spacing-35;
}

.navLink {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-purple);
  transition: color 0.3s ease;
}

.navLink.active {
  @include fonts(null, null, null, $color-purple3);
  padding-bottom: $spacing-10;
  border-bottom: $spacing-3 solid $color-purple3;
}
