@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.discountCard {
    @include rowing(space-between, flex-end, column);
    @include sizes(410px, 260px);
    padding: $spacing-40 $spacing-20 $spacing-20;
    background: {
        image:
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0.2) 0%,
                rgba(255, 255, 255, 0.7) 50%,
                rgba(255, 255, 255, 1) 100%
            ),
            url('/images/manicureNature.png');
        repeat: no-repeat, no-repeat;
        color: $color-white;
    }
    border-radius: $spacing-20;
}

.discountHeader {
    @include fonts($playfair-font, $font-weight-500, $font-size-40, $color-purple3);
}

.discountText {
    @include fonts($manroupe-font, $font-weight-600, $font-size-18, $color-black2, 1.3);
    text-align: right;
    max-width: 280px;
}
