@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapper {
    @include rowing(center, center);
    @include sizes(140px, 140px);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: $spacing-16;
    background-color: $color-white;
}

.thumbnail {
    @include sizes(100%, 100%);
    object-fit: cover;
}

.uploadArea {
    @include rowing(center, center);
}

.tooltip {
    @include fonts($manroupe-font, $font-weight-400, $font-size-12);
    position: absolute;
    bottom: 12%;
    color: $color-gray4;
}
