@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

.wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.headerWrapp {
  @include rowing(space-between, center);
  min-height: $spacing-70;
}

.navbarMenu {
  @include rowing();
}

.wrappFooter {
  margin: $spacing-0 $spacing-100;
  padding-bottom: $spacing-50;
}

.wrappFooterNav {
  padding-bottom: $spacing-60;
}

.footerSeparator {
  @include sizes(null, $spacing-2);
  border: none;
  background-color: $color-purple3;
}

.basement {
  @include rowing(space-between);
}
