@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapper {
    @include rowing(null, center);
    @include fonts($roboto-font, $font-weight-600, $font-size-17, $color-purple3);
    position: relative;
}

.currentCountry {
    @include rowing(null, center);
    gap: $spacing-8;
    cursor: pointer;
}

.flag {
    @include sizes($spacing-24, $spacing-18);
}

.dropdown {
    @include sizes(100%);
    position: absolute;
    bottom: 65%;
    background: $color-white;
    border: 1px solid $color-gray2;
    list-style: none;
    border-radius: $spacing-6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.dropdownItem {
    @include rowing(null, center);
    padding: 8px 10px;
    gap: $spacing-8;
    cursor: pointer;

    &:hover {
        background-color: $color-pink2;
    }
}
