@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.dropMenuWrap {
    position: relative;
    padding-top: $spacing-11;
    padding-right: $spacing-35;
}

.dropMenuBtn {
    @include rowing(null, center);
    @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-purple);
    gap: $spacing-25;
    background: none;
    border: none;
    cursor: pointer;
}

.dropMenuList {
    position: absolute;
    top: $spacing-40;
    left: $spacing-0;
    background: $color-white;
    border: $spacing-1 solid $color-gray;
    border-radius: $spacing-4;
    box-shadow: $spacing-0 $spacing-4 $spacing-8 rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: $z-index-1;
}

.dropMenuItem {
    padding: $spacing-10 $spacing-16;
    cursor: pointer;
    color: $color-purple2;
    background: transparent;
    transition: background 0.2s;

    &:hover {
        background: $color-pink2;
    }
}

.searchWrap {
    display: inline-block;
    padding: $spacing-0 $spacing-0 $spacing-0 $spacing-25;
    border-right: 2px solid $color-gray2;
}

.searchPanelBtn {
    @include fonts($roboto-font, $font-weight-500, $font-size-20, $color-gray2);
    gap: $spacing-5;
    min-width: 150px;
    padding-right: $spacing-25;

    > span {
        padding-right: $spacing-20;
    }
}

.lastItemWrap {
    padding: $spacing-5 $spacing-0 $spacing-5 $spacing-20;
}

.sortBtn {
    @include fonts(null, null, $font-size-20, $color-purple3);

    > svg {
        margin-bottom: $spacing-2;
    }
}

.toolbarWrapp {
    margin-right: $spacing-55;
}
