@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.iconSupport {
  margin-right: $spacing-12;
}

.editUpload {
  @include sizes($spacing-40, $spacing-40);
  opacity: 0.7;
}

.tagClose {
  margin-left: 5px;
}

.starOutIcon {
  @include sizes($spacing-20, $spacing-19);
  color: $color-orange;
}

.messageIcon {
  @include sizes($spacing-20, $spacing-20);
  color: $color-purple3;
}

.check {
  @include sizes($spacing-48, $spacing-30);
  margin-left: $spacing-5;
  stroke: $color-purple3;
  color: transparent;
}

.heartOutIcon {
  @include sizes($spacing-30, $spacing-31);
  color: $color-black3;
}

.magnifier {
  @include sizes($spacing-16, $spacing-16);
}

.logoFooter {
  @include sizes($spacing-100, $spacing-50);
  margin: $spacing-36 $spacing-0;
  color: $color-purple3;
}

.ageIcon {
  @include sizes($spacing-35, $spacing-35);
  color: $color-purple3;
}

.selectCountry {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-purple3;
  color: transparent;
}

.dropDownMenu {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-purple;
  color: transparent;
}

.searchFormIcon {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-gray2;
  color: $color-black;
}

.toolbarIcon {
  @include sizes($spacing-16, $spacing-16);
}

.test > path:first-of-type {
  stroke: red;
}
