@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.iconSupport {
  margin-right: $spacing-12;
}

.editUpload {
  @include sizes($spacing-40, $spacing-40);
  opacity: 0.7;
}

.tagClose {
  margin-left: 5px;
}

.starOutIcon {
  @include sizes($spacing-20, $spacing-19);
  color: $color-orange;
}

.messageIcon {
  @include sizes($spacing-20, $spacing-20);
  color: $color-purple3;
}

.check {
  @include sizes($spacing-48, $spacing-30);
  margin-left: $spacing-5;
  stroke: $color-purple3;
  color: transparent;
}

.heartOutIcon {
  @include sizes($spacing-30, $spacing-31);
  color: $color-black3;
}

.magnifier {
  @include sizes($spacing-16, $spacing-16);
}

.logoFooter {
  @include sizes($spacing-100, $spacing-50);
  margin: $spacing-36 $spacing-0;
  color: $color-purple3;
}

.ageIcon {
  @include sizes($spacing-35, $spacing-35);
  color: $color-purple3;
}

.selectCountry {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-purple3;
  color: transparent;
}

.dropDownMenu {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-purple;
  color: transparent;
}

.searchFormIcon {
  @include sizes($spacing-16, $spacing-16);
  stroke: $color-gray2;
  color: $color-black;
}

.toolbarIcon {
  @include sizes($spacing-16, $spacing-16);
}

.passwordErr > path:first-of-type,
.passwordConfirmErr > path:first-of-type {
  stroke: #ee443f;
}

.passwordValid > path:first-of-type,
.passwordConfirmValid > path:first-of-type {
  stroke: #2ecc71;
}

.selectRole {
  @include sizes($spacing-24, $spacing-24);
  position: absolute;
  right: 8px;
  color: $color-purple3;
  pointer-events: none;
}

.heartTop1 {
  left: 12%;
}

.heartTop2 {
  left: 8%;
}

.heartTop3 {
  left: 4%;
}

.heartBottom1 {
  bottom: $spacing-40;
  right: $spacing-66;
}

.heartBottom2 {
  bottom: $spacing-40;
  right: $spacing-48;
}

.heartBottom3 {
  bottom: $spacing-40;
  right: $spacing-38;
}

.heartTop1,
.heartTop2,
.heartTop3 {
  top: 20%;
}

.heartTop1,
.heartTop2,
.heartTop3,
.heartBottom1,
.heartBottom2,
.heartBottom3 {
  position: absolute;
}
