@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.footerLegal {
    @include sizes(100%);
    max-width: 70%;
}

.wrapAge {
    @include rowing();
    padding-top: $spacing-8;
}

.footerLegalText {
    @include fonts($roboto-font, $font-weight-400, $font-size-15, $color-purple3, 1.2);
    @include sizes(100%);
    max-width: 75%;
    padding-left: $spacing-16;
}

.footerCopyright {
    @include fonts($roboto-font, $font-weight-400, $font-size-17, $color-purple3);
    padding: $spacing-25 $spacing-0;
}

.footerLegalInfo {
    @include fonts($roboto-font, $font-weight-400, $font-size-15, $color-purple3, 1.2);
}
