@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapServCard {
    display: inline-block;
    background-color: $color-white;
    border-radius: $spacing-24;
}

.wrappPicture {
    max-width: 384px;
    position: relative;
}

.wrappIcon {
    @include rowing(center, center);
    @include sizes(384px, 384px);
}

.infoBlock {
    padding: $spacing-12 $spacing-24;
}

.title {
    padding-bottom: $spacing-8;
}

.price {
    padding-bottom: $spacing-46;
}

.title,
.price {
    @include fonts($manroupe-font, $font-weight-600, $font-size-18, $color-gray4);
}

.text {
    @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray4);
    padding-bottom: $spacing-4;
}

.label {
    @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray5);
    padding: $spacing-4 $spacing-0 $spacing-6;
}

.imgSection {
    @include sizes(null, 384px);
    position: relative;
}
