@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.iconSupport {
    margin-right: $spacing-12;
}

.editUpload {
    @include sizes($spacing-40, $spacing-40);
    opacity: 0.7;
}

.tagClose {
    margin-left: 5px;
}
