@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

@font-face {
  font-family: 'Manrope-Semibold';
  src: url('../../../../assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.educationCard {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.header {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}

.educationText {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-24);
  flex: 0 1 660px;
  min-width: 0;
}

.educationItem {
  @include rowing(space-between, center);
}

.educationYearBlock {
  @include rowing(null, null, $spacing-6, column);
  flex: 0 1 232px;
  min-width: 0;
}
.educationMonth {
  @include rowing();
}

.label {
  @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray5, $spacing-20);
}

.wrappYearEducation {
  @include rowing();
}

.year {
  @include fonts(Manrope-Semibold, $font-weight-600, $font-size-17, $color-gray4);
  @include sizes(50%);
}
