@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

.hero {
  @include sizes(100%, 815px);
  background: {
    image: url('/images/manicure-process.png');
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

.wrappToolbar {
  padding: 110px 0 15px;
}
