@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrappCards {
    @include rowing();
    flex-wrap: wrap;
    gap: $spacing-25;
    padding: $spacing-40 $spacing-57;
    border-radius: $spacing-24;
    background-color: $color-pink;
}

.mastersMoreWrap {
    @include rowing(center);
}

.paginationWrap {
    @include rowing(center);
    gap: $spacing-24;
    padding: $spacing-24 $spacing-0;
}

.showMoreWrap {
    @include rowing(center);
}
