@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.masterProfileCard {
  @include sizes(100%);
  max-width: 514px;
  align-self: flex-start;
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.cardHeader {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.avatarWrapper {
  padding: $spacing-40;
  border-radius: $spacing-20;
  background: $color-pink;
}

.infoGroup {
  @include rowing(null, null, $spacing-56, column);
}

.infoItem {
  @include rowing(space-between, center);
}

.title,
.masterName {
  @include fonts($manroupe-font, $font-weight-700, $font-size-20, null, $spacing-20);
}

.masterEmail,
.masterPhone {
  @include fonts($manroupe-font, $font-weight-400, $font-size-17, $color-gray2);
}
